
$bg-color: hsl(204, 43%, 93%);
$text-color: hsl(218, 22%, 67%);

$primary-color:hsl(179, 62%, 43%);
$secondary-color: hsl(71, 73%, 54%);

$standard-margin: 14px;

$base-font-size: 14px;
$md-font-size: 18px;

$standard-radius: 9px;